
/*incluir fuentes externas. En este caso se selecciono la fuente Roboto de google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Selector de tag/elemento*/
p{
    color:red;
}

/*Selector de identificador*/
#titulo{
color: #3f37c9;
font-family:'Roboto';
}

/*Selector de clase*/
.negrita{
    font-weight: bold;
}

.verde{
    font-style: italic;
    color:green;
}

/*Selector de atributo*/
input[type="text"]{
    color:blue;
    font-weight: bold;
    font-family: 'Roboto';
}

/*Selector de pseudo clase. Efecto del boton cuando desplazamos el cursor por encima*/
button:hover{
    font-family: 'Roboto';
    font-weight: bold;


    background-color: #e5876b;
    font-size: 16px;

    border-width: 3px;
    border-style: solid;
    border-color: #F0A8AB;
    border-radius: 5px;
}

/*selector de atributo combinado*/
input[type="text"],
textarea{
color:blue;
font-weight: bold;
font-family: 'Roboto';
}