<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/login.js"></script>
    <title>User</title>
</head>
 
<body>
    <form action="">
        <h1>User Information</h1>
        <div class="user>
            <label for="userId">User Id:</label>
            <input id="userId" type="text">
        </div>
        <div class="user">
            <label for="password">Password:</label>
            <input id="password" type="text">
        </div>
        <div class="user">
            <label for="enabled">Enabled:</label>
            <input id="enabled" type="text">
        </div>
        
        <button type="submit">Accept</button>
    </form>
    
</body>
</html>