<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/main.js"></script>
    <script defer src="js/interaccion/crearinteraccion.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script defer src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Crear Interaccion</title>
</head>

<body >
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #94d2bd;" mb-3>
        <div class="container-fluid">
            <a class="navbar-brand" href="/app">CRM Crear Interaccion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/app">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Interacciones">Interacciones</a>
                    </li>
                 </ul>
            </div>
        </div>
    </nav>
 
    <main class="container">
        <section class="row">
            <article class="col">
                <div class="card">
                        <div class="card-body">
                            <form id="creariteraccion-form">
                                <input type="hidden" name="id" id="id">
                                <div class="mb-3">
                                    <label for="cliente" class="form-label">Cliente</label>
                                    <input type="text" class="sinborde" name="cliente" id="cliente" readonly=readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="nota" class="form-label">Nota</label>
                                    <textarea class="form-control" name="nota" id="nota" rows="5"></textarea>                   </div>
                                <div class="mb-3">
                                    <label for="usuario" class="form-label">Usuario</label>
                                    <input type="text" class="sinborde" name="usuario" id="usuario" readonly=readonly>
                                </div>
                                <div>
                                    <label for="fecha" class="form-label">Fecha Creacion</label>
                                    <input type="date" class="sinborde" name="fecha" id="fecha" readonly=readonly>
                                </div>
                                <button type="submit" class="btn btn-success">Actualizar</button>
                            </form>
                        </div>
                    </div>
            </article>
        </section>
    </main>

</body>

</html>