<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/main.js"></script>
    <script defer src="js/interaccion/interacciones.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script defer src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Interaccion</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #94d2bd;" mb-3>
        <div class="container-fluid">
            <a class="navbar-brand" href="/app">CRM Trabajar Interacciones</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/app">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="crearinteraccion">Crear Interaccion</a>
                    </li>
            </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <section class="row">
            <article class="col">
                    <div id="current">Cliente: </div>
                    <table class="table" id="table"> 
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Fecha Creacion</th>
                            <th scope="col">Usuario</th>
                          </tr>
                        </thead>
                        <tbody id="body"></tbody>
                      </table>
                    
            </article>
        </section>
    </main>
</body>
</html>